/* Bold */

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
        url('fonts/Gilroy-Bold.ttf') format('truetype'),
        url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

/* Medium */

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
        url('fonts/Gilroy-Medium.ttf') format('truetype'),
        url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    font-family: 'gilroy';
    color: #070707;
    max-width: 940px;
    margin: 0 auto;
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 32px 0;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.name {
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: 700;
    width: 123px;
    font-size: 47px;
    line-height: 59px;
}

.ux-ui {
    margin: auto;
    text-align: left;
    width: 155px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.ru-eng {
    position: absolute;
    right: -19px;
    box-sizing: border-box;
    align-self: center;
    transform: rotate(-90deg);
}

.main-image {
    height: 387px;
    background-image: url(img/header_img.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me {
    position: relative;
    font-family: 'gilroy';
    padding: 107px;
    background-color: #F6F6F6;
    text-align: center;
}

.main-text {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
}

.body-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.text-w500 {
    display: inline-block;
    max-width: 500px;
}

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skill-logo-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-in-card {
    margin-bottom: 23px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
}

.text-14-17 {
    max-width: 90px;
    font-weight: 700;
    color: #828282;
    font-size: 14px;
    line-height: 17px;
}

.rating-mini {
    display: inline-block;
    font-size: 0;
}

.rating-mini span {
    padding: 0;
    font-size: 26px;
    line-height: 1;
    color: #E5E5E5;
}

.rating-mini>span:before {
    content: '★';
}

.rating-mini>span.active {
    color: #070707;
}

.portfolio {
    padding-top: 100px;
    font-family: 'gilroy';
    background-color: #F6F6F6;
    position: relative;

}

.portfolio-card-1 {
    background-image: url(img/portfolio_1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 936px;
    height: 510px;
    align-self: center;
    margin-bottom: 45px;
}

.portfolio-card-2 {
    background-image: url(img/portfolio_2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 936px;
    height: 522px;
    margin-top: 99px;
    margin-bottom: 45px;
}

.portfolio-card-3 {
    background-image: url(img/portfolio_3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 936px;
    height: 522px;
    margin-top: 99px;
    margin-bottom: 45px;
}

.button {
    width: 180px;
    height: 42px;
    background-color: #070707;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border-radius: 30px;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-img {
    margin: 30px 30px;
}

.footer-text {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.footer {
    margin-top: 114px;
    margin-bottom: 120px;
}